@model DBModel.ET.Permission
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section ClienCSS{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/admin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/Content/admin/plugins/iCheck/all.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/admin/bower_components/select2/dist/css/select2.min.css">


}
@section ContenHeader{
    <section class="content-header">
        <h1>
            Chức năng của nghiệp vụ
        </h1>

    </section>
}
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-body">
            @using (Html.BeginForm("Edit", "Permission", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()



                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.PermissionID)
                    @Html.HiddenFor(model => model.BusinessID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @autoforcus = "autoforcus", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @autoforcus = "autoforcus", @placeholder = "Mô tả" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Cập nhật" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Quay lại", "Index", "Permission", new { id = @ViewBag.BusinessID }, new { @class = "btn btn-primary" })
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

@section FooterClienScript{
    <script src="~/Content/js/controller/admin/userController.js"></script>
    <!-- Select2 -->
    <script src="~/Content/admin/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Content/admin/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/Content/admin/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Content/admin/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="~/Content/admin/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/Content/admin/plugins/iCheck/icheck.min.js"></script>
    <!-- DataTables -->
    <script src="~/Content/admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/admin/bower_components/fastclick/lib/fastclick.js"></script>


}


