
@{
    ViewBag.Title = "Mannager Permission";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section ClienCSS{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/admin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/Content/admin/plugins/iCheck/all.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/admin/bower_components/select2/dist/css/select2.min.css">
    <script src="~/Content/admin/js/plugins/ckfinder/ckfinder.js"></script>
    <script type="text/javascript">
        function BrowseServer(field) {
            editedField = field;
            var finder = new CKFinder();
            //finder.basePath = '../';
            finder.lang = 'vi'
            finder.selectActionFunction = SetFileField;
            finder.popup();
        }
        function SetFileField(fileUrl) {
            document.getElementById(editedField).value = fileUrl;
}


    </script>
}
@section ContenHeader{
    <section class="content-header">
        <h1>
            Chức năng của nghiệp vụ
        </h1>

    </section>
}
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-body">
            <p>
                @Html.ActionLink(" Nghiệp vụ ", "Index", "Business", null, new { @class = "btn btn-primary" })
            </p>
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Nghiệp vụ
                        </th>
                        <th>
                            Tên chức năng
                        </th>
                        <th>
                            Mô tả
                        </th>
                        <th> Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.PB)
                    {
                        <tr id="row_@item.PermissionID">
                            <td>

                                @item.BusinessName
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.PermissionID }) |
                                @Ajax.ActionLink("Xoá", "Delete", new { id = item.PermissionID }, new AjaxOptions
                       {
                           Confirm = "Bạn có muốn xoá bản ghi này?",
                           OnComplete = "$('#row_" + @item.PermissionID + "').remove()",
                           HttpMethod = "Delete"
                       })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

@section FooterClienScript{
    <script src="~/Content/admin/js/controller/admin/userController.js"></script>
    <!-- Select2 -->
    <script src="~/Content/admin/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Content/admin/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/Content/admin/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Content/admin/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="~/Content/admin/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/Content/admin/plugins/iCheck/icheck.min.js"></script>
    <!-- DataTables -->
    <script src="~/Content/admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/admin/bower_components/fastclick/lib/fastclick.js"></script>


    <script>
        $(function () {
            $('#example1').DataTable()

        })
        $('.select2').select2()
    </script>
}

