@model DBModel.ET.Side

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section ContenHeader{
    <section class="content-header">
        <h1>
            Chi tiết danh mục
        </h1>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink(@Resources.ResourceAdmin.AdminFunctionBackButtonText, "Index", null, new { @class = "btn btn-primary" })
            </li>
        </ol>
    </section>
}
<section class="content">
    <div>
        <!-- Default box -->
        <div class="box">
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.GroupID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GroupID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Image)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Image)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DisplayOrder)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DisplayOrder)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Link)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Link)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Target)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Target)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreateDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreateBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreateBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifiedBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifiedDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LanguageID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LanguageID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink(@Resources.ResourceAdmin.AdminFunctionEditButtonText, "Edit", new { id = Model.SideID }, new { @class = "btn btn-primary" })
                @Html.ActionLink(@Resources.ResourceAdmin.AdminFunctionBackButtonText, "Index", null, new { @class = "btn btn-primary" })
            </p>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
