@model List<DBModel.ET.Side>
    @{
        var total = Model.Count();
    }
<div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">

        @for (int i = 0; i < total; i++)
        {
            var name = Model[i].Name;
            if (name.Length > 0)
            {
                var c = "#htmlcaption" + @i;
                <a href="@Model[i].Link" target="@Model[i].Target"><img src="@Model[i].Image" data-thumb="@Model[i].Image" alt="" title="@c" /></a>
            }
            else
            {
                <a href="@Model[i].Link" target="@Model[i].Target"><img src="@Model[i].Image" data-thumb="@Model[i].Image" alt="" /></a>
            }

        }
    </div>
    @for (int i = 0; i < total; i++)
    {
        var name = Model[i].Name;
        if (name.Length > 0)
        {
            var c = "#htmlcaption" + @i;
            <div id="@c" class="nivo-html-caption"> <strong>@name</strong></div>
        }
    }
    </div>