@model IEnumerable<DBModel.ET.About>

@{
    ViewBag.Title = "Danh mục giới thiệu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




@section ClienCSS{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/admin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/Content/admin/plugins/iCheck/all.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/admin/bower_components/select2/dist/css/select2.min.css">
    <script src="~/Content/admin/js/plugins/ckfinder/ckfinder.js"></script>
    <script type="text/javascript">
        function BrowseServer(field) {
            editedField = field;
            var finder = new CKFinder();
            //finder.basePath = '../';
            finder.lang = 'vi'
            finder.selectActionFunction = SetFileField;
            finder.popup();
        }
        function SetFileField(fileUrl) {
            document.getElementById(editedField).value = fileUrl;
        }
    </script>
}

@section FooterClienScript{
 
    <!-- Select2 -->
    <script src="~/Content/admin/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Content/admin/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/Content/admin/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Content/admin/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="~/Content/admin/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/Content/admin/plugins/iCheck/icheck.min.js"></script>
    <!-- DataTables -->
    <script src="~/Content/admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/admin/bower_components/fastclick/lib/fastclick.js"></script>


    <script>
        $(function () {
            $('#example1').DataTable()

        })
        $('.select2').select2()
    </script>
}


@section ContenHeader{
    <section class="content-header">
        <h1>
            Danh mục giới thiệu
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink(@Resources.ResourceAdmin.AdminFunctionCreateButtonText, "Create", null, new { @class = "btn btn-primary" })</li>
        </ol>
    </section>
}
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                       
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        <th>
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModifiedBy)
                        </th>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                <tbody>
                    
                    @foreach (var item in Model)
                    {

                        <tr id="row_@item.AboutID">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModifiedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModifiedDate)
                            </td>
                           
                            <td>
                                @{
                                    var sStatus = "";
                                    int iStus = Convert.ToInt32(item.Status);
                                    switch (iStus)
                                    {

                                        case 0: sStatus = "Khóa"; break;
                                        case 1: sStatus = "Kích hoạt"; break;
                                        default: break;
                                    }
                                }
                                @sStatus
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.AboutID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.AboutID }) |
                                @Ajax.ActionLink("Xoá", "Delete", new { id = item.AboutID }, new AjaxOptions
                           {
                               Confirm = "Bạn có muốn xoá bản ghi này?",
                               OnComplete = "$('#row_" + @item.AboutID + "').remove()",
                               HttpMethod = "Delete"
                           })
                            </td>
                        </tr>
                    }


                </tbody>



            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
